@model DateTime
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CurrentTime</title>
</head>
<body>
    <div>
        <h1>@Model.ToLongTimeString()</h1>
    </div>
</body>
</html>
