@using HelloMVCFinally.Models;
@model IEnumerable<Person>

<!DOCTYPE html>
<!-- --product name, quantity per unit, unit price, category name -->
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <table class="table table-hover table-striped table-bordered">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
            </tr>
            @foreach (Person person in Model)
            {
                <tr>
                    <td>@person.FirstName</td>
                    <td>@person.LastName</td>
                    <td>@person.Age</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
